@{
  Layout="Shared/_Layout.cshtml";
}

<h1>Update information for @Model.GetCuisineName()</h1>

<form action="/cuisines/update/@Model.GetId()" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input type="hidden" name="cuisine-id" value="@Model.GetId()">
  <label for="cuisine-name">New Name:</label>
  <input type="text" name="cuisine-name">
  <button type="submit">Submit Change</button>
</form>
