@{
  Layout="Shared/_Layout.cshtml";
}

<h1>@Model.GetCuisineName()</h1>

<p><a href="/cuisines/delete/@Model.GetId()">Delete this Cuisine</a></p>
<p><a href="/cuisines/update/@Model.GetId()">Edit this Cuisine</a></p>
<p><a href="/cuisines/@Model.GetId()/restaurants/new">Add a Restaurant</a></p>
<p><a href="/">Back</a></p>
