html {
  min-height: 100%;
  position: relative;
}

body{
    background-color: #575c63;
    height: 100%;
}

#left h1 {
  font-family: 'Unica One', cursive;
  text-align: center;
  font-size: 65px;
  padding: 0;
  text-transform: lowercase;
  background-image: url("../img/redfork.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  padding-top: 26%;
  margin-top: 30vh;
}

.col-md-4 {
  padding: 0;
  text-align: center;
}

.col-md-4 img {
  width: 80%;
}

#right {
  border: 2px red solid;
  margin-top:24%;
  height:50vh;
}

#cuisine-list {
  margin-left: 20px;
  font-size: 36px;
}

.als-container {
	position: relative;
	width: 100%;
	/*margin: 0px auto;*/
	z-index: 0;
}

.als-viewport {
	position: relative;
	overflow: hidden;
	/*margin: 0px auto;*/
}

/*.als-wrapper {
	position: relative;
	list-style: none;
}*/

.als-item {
	position: relative;
	display: block;
	/*text-align: center;*/
	cursor: pointer;
	float: left;
}

/*.als-prev, .als-next {
	position: absolute;
	cursor: pointer;
	clear: both;
}*/

/*#demo3 {
	margin: 40px auto;
}*/

#demo3 .als-item {
	margin: 0px 5px;
	padding: 4px 0px;
	min-height: 120px;
	min-width: 200px;
}

/*#demo3 .als-prev, #demo3 .als-next {
	top: 40px;
}*/

#demo3 .als-prev {
	left: 200px;
}

#demo3 .als-next {
	right: 200px;
}

.container {
  width: 50%;
  max-width: 900px;
  /*margin-left: 15%;*/
  background-color: #fff;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
  z-index:-1;
  padding: 0;
}

ul {
  width: 500px;
}

.als-viewport div {
  width: 500px;
}
